.env
.git
.gitignore
.venv
__pycache__
*.py[cod]
*.log
log/*
.pytest_cache
.github.git
.github
.venv
__pycache__
*.pyc
log/*.log
.env
request.png
response.png
graph_image.png
Architecture.pdf
Chatbot Architecture.pdf
