python-dotenv
langchain-ollama
pypdf
langchain_groq
requests
fastapi
uvicorn
prometheus-fastapi-instrumentator
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
pymongo
faiss-cpu
langchain_community
langgraph
ratelimit
tenacity
langchain-tavily
sentence-transformers