python-dotenv
langchain-ollama
pypdf
langchain_groq
flask
streamlit
requests
flask_cors
pymongo
gunicorn
langchain
faiss-cpu
langchain_community
langgraph
ratelimit
tenacity
langchain-tavily
sentence-transformers
pytest